{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}VEXOR.IT</h2>
<h3>{{ message }}</h3>

<address>
        Integrantes da empresa:<br />
    Brenda Santana; RA: 1801079.<br />
    Hellen Mendes Barbosa; RA: 1801219.<br />
    Hyan Siqueira Lopes da Silva; RA: 1800727.<br />
    João Victor Nunes dos Santos; RA: 1801142.<br />
    Gabriel Prado Lolo, RA: 1800411<br />
    Ana Beatriz Lima Tonasse, RA: 1800403<br />
    Matheus Dutra Karo, RA: 1801049<br />
    Cliente: Ferreira Mendes e Rodrigues Advocacia<br />
    Contato: (11)3255-3305 – E-mail: ferreiramendeserodriguesadv@gmail.com<br />
    www.ferreiramendesadv.com.br<br />
    Equipe de Desenvolvimento:<br /><br />
    Brenda Santana – E-mail:<br />
    brenda.santana@aluno.faculdadeimpacta.com.br<br />
    Hellen Mendes – E-mail: hellen.barbosa@aluno.faculdadeimpacta.com.br<br />
    Hyan Siqueira – E-mail: hyan.silva@aluno.faculdadeimpacta.com.br<br />
    João Victor – E-mail: joao.santos@aluno.faculdadeimpacta.com.br<br />
    Gabriel Prado – E-mail: gabriel.prado.lolo@hotmail.com<br />
    Ana Beatriz: E-mail: abtonasse@gmail.com<br />
    Matheus Dutra: E-mail: Matheusd.karo@gmail.com<br />
    Empresa Vexor.IT <br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
